# Django
SECRET_KEY=votre_cle_secrete_ici
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de données (pour PostgreSQL)
DB_NAME=location_db
DB_USER=postgres
DB_PASSWORD=votre_mot_de_passe
DB_HOST=localhost
DB_PORT=5432

# Email (si SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=user@gmail.com
EMAIL_HOST_PASSWORD=votre_mdp
EMAIL_USE_TLS=True